
main {
    background-color:#f0e9d6 ;
    width: 100vw;
    height: 700px;
}

nav {
    background-color:#fffaee ;
    border-bottom: solid;
}

.rojo {
    color: #f0e9d6;
}
.rojo {
    color: #f0e9d6;
}
.rojo {
    color: #f0e9d6;
}