body 
    {
        font-family: 'Bungee', sans-serif;
        background-color: #FFFAEE;
}

main {
    background-color:#FFFAEE ;
    width: 100vw;
    height: fit-content;
}

nav {
    background-color:#b9ccff;
    border-bottom: solid;
}



.rojo {
    color: #c32141;
}
.azul {
    color: #00a2d5;
}
.amarillo {
    color: #ffd46d;
}


/*Style Genesis*/

.card{
    min-height: 200px;
    max-height: 425px;
    background-color: #c8d4f7;
    display: flex;
    align-items: center; 
    justify-content: center; 
    transition: border 0.2s, min-height 0.2s;
}

a {
    text-decoration: none; /* Remove underline */
  }

.card:hover {
    transform: scale(1.05); /* Make the card bigger when hovered */
    transition: transform .2s; /* Animation */
  }

  @keyframes teeter {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }

  .hover-move:hover {
    animation: teeter 0.6s;
  }

  .bordered-card {
    border: 2px solid #141414; 
    border-radius: 10px; 
  }